@font-face
    font-family: 'Inconsolata'
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype')
    font-weight: 100 900
    font-style: normal



:root
    --white: hsl(0, 0%, 100%)
    --offwhite: hsl(252, 6%, 83%)
    --purplelight: hsl(245, 15%, 58%)
    --purplemedium: hsl(245, 19%, 35%)
    --purpledark: hsl(248, 70%, 10%)
    --orangelight: hsl(7, 88%, 67%)
    --orangedark: hsl(7, 71%, 60%)

html
    font-size: 14px

body
    background-image: url(./assets/images/background-desktop.png)
    color: white
    font-family: 'Inconsolata', sans-serif
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    margin: 0

form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    margin: 0

input
    width: 100%

button
    width: 100%

.attribution
    font-size: 11px
    text-align: center

.attribution a
    color: hsl(228, 45%, 44%)

/* CSS for Tablet size devices */
@media (max-width: 768px)
body
    background-image: url(./assets/images/background-tablet.png)

/* CSS for mobile phone size devices */
@media (max-width: 414px)
body
    background-image: url(./assets/images/background-mobile.png)